*{
    padding: 0;
    margin: 0;
}
.rect {
    position: relative;
    /* height: 00%; */
    text-align: left;
}

.rect img {
    width: 100%;
    /* height: 50%; */
}

.rect .less-than-symbol {
    display: inline-block;
    vertical-align: middle; /* Align the symbol with the text */
    margin: 0 5px; /* Adjust spacing between Home and Blogs */
    width: 16px; /* Adjust the width to make it smaller */
    height: auto; /* Maintain aspect ratio */
}

.rect h2 {
    position: absolute; /* Keep h2 absolutely positioned */
    top: 60%;
    left: 100px;
    transform: translateY(-50%);
    margin: 0;
    font-size: 2rem;
    color: black;
    font-family: "Ubuntu", sans-serif;
}

.rect p {
    margin-left: 100px; /* Align with h2 */
    font-size: 1rem;
    margin-top: 10px; /* Space between h2 and p */
    color: black;
    font-family: "Ubuntu", sans-serif;
    position: absolute; /* Keep p absolutely positioned */
    top: calc(55% + 30px); /* Position below h2 (adjust +30px for desired spacing) */
}

.rect p span {
    color: #008080; /* Teal color for the span */
}
/* all fonts */

.p-heading{
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    color: #37393F;
}

.p-content{
    font-size: 18px;
    font-family: "poppins", sans-serif;
    color: #7D7D7D;
}

.p-data-heading{
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    color: #282c4b;
}

.p-data-data2{
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: #4d4d4d;
}




.part1 .right .end_tag{
    color: #008080;
    font-weight: 500;
}
.part1 .right .end_tag span{
    font-family: "Ubuntu", sans-serif;
    border-bottom: 2px solid #008080;
}

.part2  .right img{
    
    padding-bottom: 40px;
}
.part2 .p-icon{
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
    width: 50px;
    height: 50px; 
    border: 1px solid #D2D2D2;
    border-radius: 10px;

}


/* part3 */
.part3{
    background-color: #EDFFFB;
}

.part3 .p-content li{
    padding: 100px;
}

.part4{
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    color: #595e68;
    font-weight: 500;
}
.part4 span{
    border-bottom: 1px solid #595e68;
}
.last .container .back_img{
    background-image: url("../assets/images/NavBar-ContactUs-Services-AboutUs/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 22.5em;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
 
.last .container .back_img h2{
    font-size: 40px;
    color: #EDF2F4;
    font-weight: 600;
}
.last .container .back_img p{
    font-size: 18px;
    color: #EDF2F4;
    font-weight: 400;
    /* justify-content: center; */
    max-width: 837px;
}
 
.last .container .back_img button{
    font-size: 20px;
    color: white;
    max-width: 181px;
    max-height: 56px;
    background-color: #20CFC5 ;
   
}